body {
	background: black;
	overflow: auto;
}

a {
	text-decoration: none;
}

button {
	outline: none !important;
}

#first-main, #second-main, #third-main {
	width: 100%;
	height: 100%;

	display: block;

	position: absolute;
	top: 0;
	left: 0;

	overflow-x: hidden;
	overflow-y: auto;
}

#first-main {
	z-index: 2;

	background: url('Library/images/background2.png') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#first-main #blur-container {
	position: absolute;
	width: 100%;
	height: 100%;

	top: 0;
	left: 0;

	background-color: rgba(0, 0, 0, 0.7);
	background: rgba(0, 0, 0, 0.7);
	color: rgba(0, 0, 0, 0.7);
}
#first-main #blur-container #logIn-container {
	display: inline-block;
	width: 300px;
	height: 300px;

	position: absolute;

	top: 50%;
	left: 50%;

	margin: -190px auto auto -150px;
	text-align: center;

	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";       /* IE 8 */
	filter: alpha(opacity=100);  /* IE 5-7 */
	-moz-opacity: 1.0;          /* Netscape */
	-khtml-opacity: 1.0;        /* Safari 1.x */
	opacity: 1.0;
}
#first-main #blur-container #logIn-container h1 {
	font-family: OpenSansLight;
	font-size: 42px;
	font-weight: normal;

	color: white;

	margin: 0px 0px 0px 0px;
}
#first-main #blur-container #logIn-container h2 {
	font-family: OpenSansLight;
	font-size: 16px;
	font-weight: normal;

	color: white;

	margin: 0px 0px 15px 0px;
}
#first-main #blur-container #logIn-container form, #first-main #blur-container #forgottenPassword form {
	display: inline-block;

	width: 300px;
	height: 92px;

	background: white;
	border-radius: 3px;

	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";       /* IE 8 */
	filter: alpha(opacity=100);  /* IE 5-7 */
	-moz-opacity: 1.0;          /* Netscape */
	-khtml-opacity: 1.0;        /* Safari 1.x */
	opacity: 1.0;

	margin: 0px 0px 8px 0px;
}
#first-main #blur-container #logIn-container input, #first-main #blur-container #forgottenPassword input {
	width: 100%;
	height: 46px;
	display: block;

	border: none;
	border-bottom: 1px solid #e5e5e5;

	padding: 15px 15px;
	border-radius: 3px;

	font-family: OpenSansRegular;
	font-size: 14px;
	font-weight: normal;

	color: black;
}
#first-main #blur-container #logIn-container button, #first-main #blur-container #forgottenPassword button {
	font-family: OpenSansRegular;
	font-size: 14px;
	font-weight: normal;

	border: none;
	border-radius: 3px;
	cursor: pointer;

	padding: 10px 10px;

	background: #3366CC;

	width: 100%;

	color: white;
}

#first-main #blur-container {
	#logIn-container button:hover, #forgottenPassword button:hover {
		background: #2E5CC2;
	}
}

#first-main #blur-container #logIn-container #sub-options button, #first-main #blur-container #forgottenPassword #sub-options button {
	font-family: OpenSansRegular;
	font-size: 14px;
	font-weight: normal;

	color: white;
	display: block;

	border: none;
	background: none;

	padding: 0px 0px;
}
#first-main #blur-container #logIn-container #sub-options button:hover, #first-main #blur-container #forgottenPassword #sub-options button:hover {
	text-decoration: underline;
}

@media only screen and (max-device-width: 736px) and (orientation : portrait) {
	#first-main #blur-container #logIn-container {
		display: inline-block;
		width: 96%;
		height: 600px;

		position: relative;
		margin-left: -48%;
		margin-right: auto;
		top: 50%;
		left: 50%;
		right: 0;


		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);

		margin: -210px auto auto -48%;
	}
	#first-main #blur-container #logIn-container h1 {
		font-size: 92px;
	}
	#first-main #blur-container #logIn-container h2 {
		font-size: 54px;
	}
	#first-main #blur-container #logIn-container form, #first-main #blur-container #forgottenPassword form {
		display: inline-block;

		width: 100%;
		height: 184px;

		border-radius: 3px;

		margin: 0px 0px 8px 0px;
	}
	#first-main #blur-container #logIn-container input, #first-main #blur-container #forgottenPassword input {
		width: 100%;
		height: 160px;

		font-size: 32px;
	}
	#first-main #blur-container #logIn-container button, #first-main #blur-container #forgottenPassword button {
		font-size: 32px;
	
		margin-top: 140px;
		padding: 20px 20px;

		height: 140px;
		width: 100%;
	}

	#first-main #blur-container #logIn-container #sub-options {
		margin-top: 20px;
	}
	#first-main #blur-container #logIn-container #sub-options button, #first-main #blur-container #forgottenPassword #sub-options button {
		font-family: OpenSansRegular;
		font-size: 32px;
		font-weight: normal;

		color: white;
		display: block;

		border: none;
		background: none;

		padding: 0px 0px;
		margin: -40px 0px -90px 0px;
	}
	#first-main #blur-container #logIn-container #sub-options button:hover, #first-main #blur-container #forgottenPassword #sub-options button:hover {
		text-decoration: underline;
	}
}


#first-main #blur-container #logIn-container a {
	font-family: OpenSansRegular;
	font-size: 14px;
	font-weight: normal;

	color: white;
	display: block;
}
#first-main #blur-container #logIn-container a:hover {
	text-decoration: underline;
}
#first-main #blur-container #logIn-container .storeButton {
	position: fixed;
	top: 10;
	left: 100%;

	width: 75px;
	margin: auto auto auto -85px;
}
#first-main #blur-container #nav-bar {
	display: inline-block;

	width: 300px;
	height: 40px;

	position: absolute;
	bottom: 0;
	left: 50%;

	border-top-left-radius: 3px;
	border-top-right-radius: 3px;

	margin: -40px auto auto -150px;

	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";       /* IE 8 */
	filter: alpha(opacity=100);  /* IE 5-7 */
	-moz-opacity: 1.0;          /* Netscape */
	-khtml-opacity: 1.0;        /* Safari 1.x */
	opacity: 1.0;
}
#first-main #blur-container #nav-bar button {
	background: white;
	border: none;
	cursor: pointer;

	width: 50%;
	height: 40px;
	padding: 10px 15px;

	float: left;

	display: inline-block;

	font-family: OpenSansRegular;
	font-size: 14px;
	font-weight: normal;
}
#first-main #blur-container #nav-bar button:hover {
	/*text-decoration: underline;*/
}
#first-main #blur-container #nav-bar .left {
	background: #e5e5e5;
	border-top-left-radius: 3px;
	border-right: 1px solid #e5e5e5;
}
#first-main #blur-container #nav-bar .left:hover {
	background: #D8D8DD;
}
#first-main #blur-container #nav-bar .right {
	background: #56bc8a;
	color: white;
	border-top-right-radius: 3px;
}
#first-main #blur-container #nav-bar .right:hover {
	background: #40B368;
}

@media only screen and (max-device-width: 736px) and (orientation : portrait) {
	#first-main {
		#blur-container {
			#nav-bar {
				width: 500px;
				height: 80px;
				margin: -80px auto auto -250px;

				button {
					height: 80px;
					font-size: 24px;
				}
			}
		}
	}
}

#first-main #blur-container #forgottenPassword {
	display: none;
	width: 300px;
	height: 300px;

	position: absolute;

	top: 50%;
	left: 50%;

	margin: -150px auto auto -150px;
	text-align: center;

	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";       /* IE 8 */
	filter: alpha(opacity=100);  /* IE 5-7 */
	-moz-opacity: 1.0;          /* Netscape */
	-khtml-opacity: 1.0;        /* Safari 1.x */
	opacity: 1.0;
}
#first-main #blur-container #forgottenPassword h1 {
	font-family: OpenSansLight;
	font-size: 24px;
	font-weight: normal;

	color: white;
	margin: 0px 0px 5px 0px;
}
@media only screen and (max-device-width: 736px) and (orientation : portrait){
	#first-main {
		#blur-container {
			#forgottenPassword {
				display: inline-block;
				width: 96%;
				height: 500px;

				position: absolute;
				margin-left: -48%;
				margin-right: auto;
				top: 50%;
				left: 50%;
				right: 0;


				-webkit-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				transform: translateY(-50%);

				display: none;

				h1 {
					font-size: 54px;
				}
			}
		}
	}
}
#first-main #blur-container #termsConditions {
	display: none;

	width: 80%;
	height: 50%;
	position: absolute;

	overflow-x: hidden;
	overflow-y: hidden;

	top: 25%;
	left: 12.5%;

	margin: auto auto auto auto;

	font-family: OpenSansRegular;
	font-size: 14px;
	font-weight: normal;

	color: white;
}
#first-main #blur-container #termsConditions button {
	position: relative;

	background: none;
	border: none;
	cursor: pointer;

	width: 150px;
	height: 20px;

	font-family: OpenSansRegular;
	font-size: 14px;
	font-weight: normal;

	left: 100%;

	margin: auto auto 10px -150px;

	color: white;
}
#first-main #blur-container #termsConditions button:hover {
	text-decoration: underline;
}
#first-main #blur-container #termsConditions #container {
	width: 100%;

	height: -moz-calc(100% - 30px);
    height: -webkit-calc(100% - 30px);
    height: calc(100% - 30px);

    overflow-x: hidden;
    overflow-y: auto;
}
#first-main #blur-container #termsConditions h1 {
	font-size: 24px;
	font-weight: normal;

	letter-spacing: 0.2px;

	margin: 10px 0px 0px 0px;
	text-decoration: underline;
}
#first-main #blur-container #termsConditions p {
	margin: 0px auto 3px auto;
}

@media only screen and (max-device-width: 736px) and (orientation : portrait) {
	#first-main {
		#blur-container {
			#termsConditions {
				width: 80%;
				height: 70%;
				position: absolute;

				overflow-x: hidden;
				overflow-y: hidden;

				top: 15%;
				left: 12.5%;

				font-size: 32px;
			
				button {
					width: 200px;
					height: 45px;
					font-size: 32px;
					margin-left: -200px;
				}
			}
		}
	}
}

#second-main {
	z-index: 2;
	display: none;
	background: #e5e5e5;
}
#second-main #nav-bar, #third-main #nav-bar {
	display: inline-block;

	position: fixed;
	top: -2;
	left: 50%;

	z-index: 1000;

	width: 150px;
	margin: auto auto auto -75px;
}
#second-main #nav-bar button, #third-main #nav-bar button {
	border: none;
	border-radius: 3px;
	cursor: pointer;

	border-top-left-radius: 0px;
	border-top-right-radius: 0px;

	padding: 5px 5px;
	background: #0099CC;

	font-family: OpenSansRegular;
	font-size: 14px;
	font-weight: normal;

	width: 100%;

	color: white;
}
#second-main #nav-bar button:hover, #third-main #nav-bar button:hover {
	background: #0091C9;
}
#second-main #information-container {
	width: 60%;
	margin: 50px auto auto auto;

	text-align: center;

	#nav-bar1 {
		margin: 20px auto 20px auto;

		a {
			padding: 10px 10px;
			border-radius: 3px;
			background: #CCCCD6;

			font-family: OpenSansRegular;
			font-size: 16px;
			font-weight: normal;

			color: black;
		}
		a:hover {
			background: #BFBFCE;
		}
	}
}
#second-main #information-container img {
	width: 128px;
	height: 128px;

	position: relative;

	margin: auto auto auto auto;

	-moz-box-shadow: 0 0 10px rgba(0,0,0,.9);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.9);
	box-shadow: 0 0 10px rgba(0,0,0,.9);
}
#second-main #information-container h1 {
	font-family: OpenSansLight;
	font-size: 20px;
	font-weight: normal;

	margin: 0px 0px 0px 0px;

	color: black;
}
#second-main #information-container #header {
	font-size: 24px;
	text-align: center;
	display: block;
}
#second-main #information-container #sub-header {
	font-size: 18px;
	display: block;
	margin: 10px auto auto auto;
	text-decoration: underline;
}
#second-main #information-container p {
	width: 60%;
	text-align: left;
	margin: 10px auto 10px auto;

	font-family: OpenSansRegular;
	font-size: 14px;
	font-weight: normal;
}
#second-main #information-container a {
	font-size: 16px;
	color: black;
}
#second-main #information-container a:hover {
	color: #0088cc;
}


@media only screen and (max-device-width: 736px) and (orientation : portrait) {
	#second-main {
		#nav-bar {
			width: 250px;
			margin: auto auto auto -125px;
			button {
				font-size: 32px;
			}
		}

		#nav-bar1 {
			margin: 20px auto 20px auto;

			a {
				padding: 10px 10px;
				border-radius: 3px;
				background: #CCCCD6;

				font-family: OpenSansRegular;
				font-size: 32px;
				font-weight: normal;

				color: black;
			}
			a:hover {
				background: #BFBFCE;
			}
		}

		#information-container {
			width: 95%;
			margin: 80px auto auto auto;

			img {
				width: 164px;
				height: 164px;
			}

			#header {
				font-size: 40px;
			}

			#sub-header {
				font-size: 36px;
			}

			p {
				width: 80%;
				font-size: 32px;
			}
		}
	}

	#third-main {
		#nav-bar {
			width: 250px;
			margin: auto auto auto -125px;
			button {
				font-size: 32px;
			}
		}
	}
}

#third-main {
	z-index: 3;
	display: none;
	background: #56bc8a;
}
#third-main h1 {
	font-family: OpenSansLight;
	font-size: 24px;
	font-weight: normal;

	color: white;
	text-align: center;
	margin: 100px auto auto auto;
}
#third-main #form {
	position: relative;
	left: 50%;

	width: 300px;
	margin: 10px auto auto -150px;
}
#third-main #register {
	width: 100%;
	display: inline-block;

	margin: 0px 0px 8px 0px;
}
#third-main #register input {
	font-family: OpenSansRegular;
	font-size: 14px;
	font-weight: normal;

	color: black;

	border: none;
	border-bottom: 1px solid #e5e5e5;

	display: block;

	width: 100%;
	padding: 7px 7px;
}
#third-main #register .top {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
#third-main #register .bot {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
#third-main #form button {
	border: none;
	cursor: pointer;

	background: #38B05A;

	width: 100%;
	border-radius: 3px;

	padding: 5px 5px;

	font-family: OpenSansRegular;
	font-size: 14px;
	font-weight: normal;

	color: white;
}
#third-main #form button:hover {
	background: #30AD4C;
}

@media only screen and (max-device-width: 736px) and (orientation : portrait) {
	#third-main {
		h1 {
			font-size: 54px;
		}

		#form {
			width: 96%;
			margin: 10px auto auto -48%;

			button {
				font-size: 32px;
				height: 80px;
			}
		}

		#register {
			input {
				height: 100px;
				font-size: 32px;
			}
		}
	}
}

/*TEST*/
#first-main {
	 -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 11.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 11.1 */
            animation: fadein 1s;
}

/*FADEOUT*/
@keyframes fadeout {
    from {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";       /* IE 8 */
		filter: alpha(opacity=100);  /* IE 5-7 */
		-moz-opacity: 1.0;          /* Netscape */
		-khtml-opacity: 1.0;        /* Safari 1.x */
		opacity: 1.0;
	}
    to   {  
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";       /* IE 8 */
		filter: alpha(opacity=0);  /* IE 5-7 */
		-moz-opacity: 0.0;          /* Netscape */
		-khtml-opacity: 0.0;        /* Safari 1.x */
		opacity: 0.0;  
	}
}

/* Firefox < 16 */
@-moz-keyframes fadeout {
	from {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";       /* IE 8 */
		filter: alpha(opacity=100);  /* IE 5-7 */
		-moz-opacity: 1.0;          /* Netscape */
		-khtml-opacity: 1.0;        /* Safari 1.x */
		opacity: 1.0;   
	}
    to   {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";       /* IE 8 */
		filter: alpha(opacity=0);  /* IE 5-7 */
		-moz-opacity: 0.0;          /* Netscape */
		-khtml-opacity: 0.0;        /* Safari 1.x */
		opacity: 0.0;   
	}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
	from {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";       /* IE 8 */
		filter: alpha(opacity=100);  /* IE 5-7 */
		-moz-opacity: 1.0;          /* Netscape */
		-khtml-opacity: 1.0;        /* Safari 1.x */
		opacity: 1.0;  
	}
    to   {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";       /* IE 8 */
		filter: alpha(opacity=0);  /* IE 5-7 */
		-moz-opacity: 0.0;          /* Netscape */
		-khtml-opacity: 0.0;        /* Safari 1.x */
		opacity: 0.0; 
	}
}

/* Internet Explorer */
@-ms-keyframes fadeout {
    from {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";       /* IE 8 */
		filter: alpha(opacity=100);  /* IE 5-7 */
		-moz-opacity: 1.0;          /* Netscape */
		-khtml-opacity: 1.0;        /* Safari 1.x */
		opacity: 1.0;  
	}
    to   {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";       /* IE 8 */
		filter: alpha(opacity=0);  /* IE 5-7 */
		-moz-opacity: 0.0;          /* Netscape */
		-khtml-opacity: 0.0;        /* Safari 1.x */
		opacity: 0.0;  
	}
}

/* Opera < 12.1 */
@-o-keyframes fadeout {
    from {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";       /* IE 8 */
		filter: alpha(opacity=100);  /* IE 5-7 */
		-moz-opacity: 1.0;          /* Netscape */
		-khtml-opacity: 1.0;        /* Safari 1.x */
		opacity: 1.0;  
	}
    to   {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";       /* IE 8 */
		filter: alpha(opacity=0);  /* IE 5-7 */
		-moz-opacity: 0.0;          /* Netscape */
		-khtml-opacity: 0.0;        /* Safari 1.x */
		opacity: 0.0;  
	}
}

/*FADEIN*/
@keyframes fadein {
    from {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";       /* IE 8 */
		filter: alpha(opacity=0);  /* IE 5-7 */
		-moz-opacity: 0.0;          /* Netscape */
		-khtml-opacity: 0.0;        /* Safari 1.x */
		opacity: 0.0;  
	}
    to   {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";       /* IE 8 */
		filter: alpha(opacity=100);  /* IE 5-7 */
		-moz-opacity: 1.0;          /* Netscape */
		-khtml-opacity: 1.0;        /* Safari 1.x */
		opacity: 1.0;  
	}
}

/* Firefox < 16 */
@-moz-keyframes fadein {
	from {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";       /* IE 8 */
		filter: alpha(opacity=0);  /* IE 5-7 */
		-moz-opacity: 0.0;          /* Netscape */
		-khtml-opacity: 0.0;        /* Safari 1.x */
		opacity: 0.0;  
	}
    to   {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";       /* IE 8 */
		filter: alpha(opacity=100);  /* IE 5-7 */
		-moz-opacity: 1.0;          /* Netscape */
		-khtml-opacity: 1.0;        /* Safari 1.x */
		opacity: 1.0;    
	}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
	from {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";       /* IE 8 */
		filter: alpha(opacity=0);  /* IE 5-7 */
		-moz-opacity: 0.0;          /* Netscape */
		-khtml-opacity: 0.0;        /* Safari 1.x */
		opacity: 0.0;  
	}
    to   {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";       /* IE 8 */
		filter: alpha(opacity=100);  /* IE 5-7 */
		-moz-opacity: 1.0;          /* Netscape */
		-khtml-opacity: 1.0;        /* Safari 1.x */
		opacity: 1.0;  
	}
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";       /* IE 8 */
		filter: alpha(opacity=0);  /* IE 5-7 */
		-moz-opacity: 0.0;          /* Netscape */
		-khtml-opacity: 0.0;        /* Safari 1.x */
		opacity: 0.0;  
	}
    to   {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";       /* IE 8 */
		filter: alpha(opacity=100);  /* IE 5-7 */
		-moz-opacity: 1.0;          /* Netscape */
		-khtml-opacity: 1.0;        /* Safari 1.x */
		opacity: 1.0;  
	}
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";       /* IE 8 */
		filter: alpha(opacity=0);  /* IE 5-7 */
		-moz-opacity: 0.0;          /* Netscape */
		-khtml-opacity: 0.0;        /* Safari 1.x */
		opacity: 0.0;  
	}
    to   {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";       /* IE 8 */
		filter: alpha(opacity=100);  /* IE 5-7 */
		-moz-opacity: 1.0;          /* Netscape */
		-khtml-opacity: 1.0;        /* Safari 1.x */
		opacity: 1.0;  
	}
}