body {
	margin: 0;
	padding: 0;
	background: #E9ECEC url(images/bg01.png) repeat;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	color: #3B3B3B;
}

body:after
{
	content: '';
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url('images/bg01.png');
	z-index: -1;
	opacity: .05;
}

h1, h2, h3 {
	margin: 0px;
	padding: 0px;
	letter-spacing: -2px;
	font-weight: normal;
	color: #2F6BCF;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
}

.image-shadow
{
	border-radius: 8px;
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.2);
}

/* Logo */
#logo {
	margin: 0px;
	padding: 30px 30px;
	color: #0082B0;
	text-align: center;
}
#logo h1, #logo p {
	margin: 0;
	padding: 0;
}
#logo h1 {
	margin: 0px;
	padding-top: 40px;
	text-transform: none;
	font-size: 3.8em;
	color: #0082B0;
	font-family: OpenSansLight;
}
#logo h2 {
	margin: 0px;
	padding: 0px;
	text-transform: none;
	font-size: 24px;
	color: #0082B0;
	font-family: OpenSansLight;
}

/*Gallery*/
#gallery td {
	width: 25%;
}
#gallery h1 {
}
#gallery img {
	width: 100%;
	height: 256px;
}
#gallery td {
	text-align: center;
}
#gallery a {
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;

	font-family: OpenSansLight;
	font-size: 24px;
	
	color: white;
}
#gallery a:hover {
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;

	color: #0082B0;
}

/*TOP*/
#top {
	width: 100%;
}
#top img {
	width: 90px;
	height: 90px;
	border-radius: 100px;
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);
	display: block;
    margin-left: auto;
    margin-right: auto;
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}
#top h1 {
	text-align: center;
	font-family: OpenSansLight;
	font-size: 32px;
	color: #0082B0;
}
#top h2 {
	text-align: center;
	font-family: OpenSansLight;
	font-size: 24px;
	color: #0082B0;
}
#top a {
	color: #0082B0;
}
#top a:hover {
	border-bottom: 1px solid #0082B0;
}

/*Table Work Page*/
#work-table table {
	width: 100%;
	height: 100%;
	
	text-align: center;
}
#work-table #header a {
	font-family: OpenSansLight;
	font-size: 30px;
	
	text-align: left;
	color: #0082B0;
}
#work-table #header a:hover {
border-bottom: 1px solid #0082B0;
}
#work-table #note {
	font-family: OpenSansRegular;
	font-size: 12px;
	font-weight: normal;
	
	color: black;
}
#work-table #image img {
	margin-left: auto;
	margin-right: auto;
}

/*Table Main Page*/
table {
	width: 100%;
	height: 100%;
	text-align: center;
	
	/*
	border-left: 1px solid #0082B0;
	border-right: 1px solid #0082B0;
	border-bottom: 1px solid #0082B0;
	*/
	border-collapse: collapse;
}

th {
	font-family: OpenSansLight;
	font-size: 20px;
	color: #0082B0;
	
	font-weight: normal;
}

.header {
	border-bottom: 1px solid #ccc;
}

td {
	width: 50%;
	height: 15%;
	
	font-family: OpenSansRegular;
	font-size: 14px;
	color: black;
	
	text-align: left;
	padding-top: 5px;
	padding-left: 5px;
	
	vertical-align: top;
}

.left-col {
	border-right: 1px solid #ccc;
}
#post h1 {
	font-family: OpenSansLight;
	font-size: 18px;
	font-weight: normal;
	
	text-align: left;
	color: #0082B0;
	letter-spacing: 0.15px;
}
#post p {
	font-family: OpenSansRegular;
	font-size: 14px;
	color: black;
}

.right-col img {
	width: 100%;
	height: 256px;
	
	background-color: rgb(68,68,68); /* Needed for IEs */
}
.contour {
	height: 10px;
	border-left: 1px dotted #ccc;
	border-right: 1px dotted #ccc;
	margin-top: -2px;
}

/* Menu */
#menu-wrapper {
	position: fixed;
	top: 0px;
	height: 56px;
	width: 100%;
	background: #0082B0;
	
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";       /* IE 8 */
	filter: alpha(opacity=70);  /* IE 5-7 */
	-moz-opacity: 0.7;          /* Netscape */
	-khtml-opacity: 0.7;        /* Safari 1.x */
	opacity: 0.7; 
}
#menu-wrapper:after {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url('images/bg01.png');
	z-index: -1;
	opacity: 1;
}

#menu {
	width: 1200px;
	height: 55px;
	margin: 0px auto;
	padding: 0px;
}

#menu ul {
	margin: 0;
	padding: 10px 0px 0px 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
}

#menu li {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";       /* IE 8 */
	filter: alpha(opacity=100);  /* IE 5-7 */
	-moz-opacity: 1;          /* Netscape */
	-khtml-opacity: 1;        /* Safari 1.x */
	opacity: 1; 
	
	display: inline-block;
	border-left: 1px solid #3394B5;
}

	#menu li:first-child
	{
		border-left: none;
	}

#menu a {
	display: inline-block;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  
	letter-spacing: 1px;
	margin: 0px 10px;
	padding: 10px 20px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: normal;
	font-family: OpenSansLight;
	color: white;
	border: none;
}
#menu a:hover, .float:focus, .float:active {
	-webkit-transform: translateY(-5px);
	transform: translateY(-5px);
}

#menu .me a {
	padding: 3px 3px;
	background-color: black;
	border-radius: 100px;
	
	display: inline-block;
	position: relative;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
#menu .me a:before {
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
#menu .me a:hover, #menu .me a:focus, #menu .me a:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
#menu .me a:hover:before, #menu .me a:focus:before, #menu .me a:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

/* Page */
#page {
	overflow: hidden;
	width: 1140px;
	margin: 0px auto 50px auto;
	padding: 30px 30px 0 30px;
	background: #FFF;
	border: 1px solid rgba(0,0,0,.05);
	box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.03);
	border-radius: 2px;
}