body {
	background-color: #edeeef;
}

a {
	text-decoration: none;
}

#menu {
	background-color: #517fa4;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 34px;
	margin: 0px auto;
	padding: 0px;
	
	text-align: center;
	
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";       /* IE 8 */
	filter: alpha(opacity=100);  /* IE 5-7 */
	-moz-opacity: 1;          /* Netscape */
	-khtml-opacity: 1;        /* Safari 1.x */
	opacity: 1; 
	
	border-bottom: 1px solid black;
}
#menu img {
	width: 24px;
	height: 24px;
	
	border-radius: 100px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.9);
	
	margin-right: 2px;
}
#menu a {
	vertical-align: top;
	display: inline-block;

	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;

	text-decoration: none;
	color: white;
	
	padding: 5px 15px 0px;
	
	font-family: OpenSansLight;
}
#menu a:hover {
	color: #517fa4;
	background-color:  #edeeef;
}

#body {
	margin: 40px auto 50px auto;
	background-color: #e0e1e2;

	width: 50%;
	min-width: 240px;
	max-width: 50%;

	border: 1px solid rgba(0,0,0,.1);
	border-radius: 2px;
}	

#poster {
	margin: 40px auto 50px auto;
	width: 95%;
	
	margin-top: 5px;
	margin-bottom: 5px;
	
	text-align: center;
}

#post {
	width: 100%;
	border-radius: 2px;
	
	background: white;
	box-shadow: 0px 0px 10px #ccc;
	
	height: 500px;
}
#post-none {
	width: 100%;
	border-radius: 2px;
	
	background: white;
	box-shadow: 0px 0px 10px #ccc;
}
#post h1, #post-none h1 {
	font-family: OpenSansLight;
	font-size: 25px;
	letter-spacing: 0.25px;
	color: #517fa4;
	
	border-bottom: 1px dotted #ccc;
	padding: 5px 0px 5px 3px;
}
#post img {
	margin-top: -13px;
	margin-bottom: -11px;
	
	width: 100%;
	height: 150%;
}
#post p, #post-none p {
	font-family: OpenSansRegular;
	font-weight: normal;
	font-size: 14px;
	
	padding: 5px 0px 5px 3px;
	text-align: left;
}

#post-none p {
	margin-top: -10px;
}

.separate {
	width: 100%;
	border-top: 1px dotted #ccc;
}
